body{
    background-color: #FAFAFA;
}
 #login{

            padding-top: 50px;
        }
 #menu{
     padding-top: 40px;
 }       
 .sign{
    padding-top:15px;
}
@media print{

    .notprint{
        display: none;
    }
}